:root {
  --main-bg-color: #ffffff;
  --main-color: #ffede8;
}

h2 {
  text-align: center;
}

.container,
.flexRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  flex-direction: column;
}

.wrapper__card {
  background-color: var(--main-color);
  padding: 5px;
  margin: 5px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 5px 4px 3px -2px rgba(196, 196, 196, 1);
  -moz-box-shadow: 5px 4px 3px -2px rgba(196, 196, 196, 1);
  box-shadow: 5px 4px 3px -2px rgba(196, 196, 196, 1);
}
.card {
  font-size: 30px;
}
.settingsForm {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.settingsForm__item {
  max-width: 200px;
  margin: 0 auto;
}

.errors {
  height: 25px;
  line-height: 20px;
  font-size: 12px;
  color: #ff0000;
  text-align: center;
}
.suggestion {
  cursor: pointer;
  font-size: 16px;
  color: black;
  text-decoration: underline;
}
.input {
  font-size: 16px;
  padding: 5px;
}
.input:focus {
  border-color: var(--main-color);
}
.results {
  margin-top: 25px;
  text-align: center;
}

.results span {
  display: block;
}
.results .win {
  color: #0a851b;
  font-size: 18px;
}
.results .lost {
  color: #ff0000;
  font-size: 18px;
}
/* ANIMATIONS */

.wrapper__card {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(180deg);
}
.flip {
  transform: rotateY(180deg);
}